@page  "/buttons"
@page  "/buttons/{kitId}"

<div class="buttons page">
    <div class="page__container">
        <header>
            <div class="title">Elements</div>
            <h2>Buttons</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>
        </header>
        <div class="content">
            <h3>Core Buttons</h3>
            <p class="subheader">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>
            @if (kit != null)
            {
                <EditForm Model="@kit">
                    <div class="section">
                        <label>
                            Font Size
                            <span style="background-color: @kit.PrimaryColor"></span>
                            <InputText @bind-Value="kit.PrimaryColor" />
                        </label>
                        <label>
                            Font Weight
                            <span style="background-color: @kit.SecondaryColor"></span>
                            <InputText @bind-Value="kit.SecondaryColor" />
                        </label>
                        <label>
                            Vertical Padding
                            <span style="background-color: @kit.TertiaryColor"></span>
                            <InputText @bind-Value="kit.TertiaryColor" />
                        </label>
                        <label>
                            Horizontal Padding
                            <span style="background-color: @kit.PrimaryColor"></span>
                            <InputText @bind-Value="kit.PrimaryColor" />
                        </label>
                        <label>
                            Corner Radius
                            <span style="background-color: @kit.SecondaryColor"></span>
                            <InputText @bind-Value="kit.SecondaryColor" />
                        </label>
                        <label>
                            Border Width
                            <span style="background-color: @kit.TertiaryColor"></span>
                            <InputText @bind-Value="kit.TertiaryColor" />
                        </label>
                        <label>
                            Icon Width
                            <span style="background-color: @kit.SecondaryColor"></span>
                            <InputText @bind-Value="kit.SecondaryColor" />
                        </label>
                        <label>
                            Icon Height
                            <span style="background-color: @kit.TertiaryColor"></span>
                            <InputText @bind-Value="kit.TertiaryColor" />
                        </label>
                    </div>
                    <h4>Secondary Button</h4>
                    <div class="section">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                        Secondary Button Border
                    </div>
                    <div class="preview-example">
                        <div>
                            <button>Button</button>
                            <button>
                                <img src="/images/eyecon.svg" />
                                Button
                            </button>
                            <button>
                                Button
                                <img src="/images/eyecon.svg" />
                            </button>
                            <button><img src="/images/eyecon.svg" /></button>
                        </div>
                        <div>
                            <button class="button-secondary">Button</button>
                            <button class="button-secondary">
                                <img src="/images/eyecon.svg" />
                                Button
                            </button>
                            <button class="button-secondary">
                                Button 
                                <img src="/images/eyecon.svg" />
                            </button>
                            <button class="button-secondary"><img src="/images/eyecon.svg" /></button>
                        </div>
                    </div>
                    <div class="code-example">
                        <code>
                            <span>&lt;h1&gt;</span>The power of small steps<span>&lt;/h1&gt;</span><br />
                            <span>&lt;h2&gt;</span>The power of small steps<span>&lt;/h2&gt;</span><br />
                            <span>&lt;h3&gt;</span>The power of small steps<span>&lt;/h3&gt;</span><br />
                        </code>
                    </div>
                    <h3>Button Variations & States</h3>
                    <p class="subheader">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
                    </p>
                    <div class="preview-example">
                        <div>
                            <button>Default</button>
                            <button>
                                Default
                                <img src="/images/eyecon.svg" />
                            </button>
                            <button class="hover">Hover</button>
                            <button class="hover">
                                Hover
                                <img src="/images/eyecon.svg" />
                            </button>
                            <button class="disabled">Disabled</button>
                            <button class="disabled">
                                Disabled
                                <img src="/images/eyecon.svg" />
                            </button>
                        </div>
                        <div>
                            <button class="button-secondary">Default</button>
                            <button class="button-secondary">
                                Default
                                <img src="/images/eyecon.svg" />
                            </button>
                            <button class="hover-secondary">Hover</button>
                            <button class="hover-secondary">
                                Hover
                                <img src="/images/eyecon.svg" />
                            </button>
                            <button class="disabled-secondary">Disabled</button>
                            <button class="disabled-secondary">
                                Disabled
                                <img src="/images/eyecon.svg" />
                            </button>
                        </div>
                    </div>
                    <div class="code-example">
                        <code>
                            <span>&lt;h1&gt;</span>The power of small steps<span>&lt;/h1&gt;</span><br />
                            <span>&lt;h2&gt;</span>The power of small steps<span>&lt;/h2&gt;</span><br />
                            <span>&lt;h3&gt;</span>The power of small steps<span>&lt;/h3&gt;</span><br />
                        </code>
                    </div>
                    <button @onclick="Submit">
                        Save & Continue
                        <img src="/images/eyecon.svg" />
                    </button>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    private Kit kit = new Kit();
    [Parameter] public string kitId { get; set; }

    protected override void OnInitialized()
    {

    }

    private async Task Submit()
    {
        //string newCss = new CreateCss().Execute(kit);

        //kit.Url = await new StorageContext().UploadString(newCss, kit.GUID.ToString() + ".css");
        //SaveColors();
    }
}
