@inherits HighlightPageBase
@page  "/buttons"
@page  "/buttons/{kitId}"

<div class="buttons page">
    <div class="page__container">
        <header>
            <div class="title">Elements</div>
            <h2>Buttons</h2>
            <p>
                A clickable button. Most often for use in forms, to submit entered information.
            </p>
        </header>
        <div class="content">
            <h3>Core Buttons</h3>
            <p class="subheader">
                 Primary and secondary button stylings are inherited from selected base style colors.  
            </p>
            @if (kit != null)
            {
                <EditForm Model="@kit">
                    <div class="section">
                        <label>
                            Font Size
                            <InputText @bind-Value="kit.BodyFontSize" />
                        </label>
                        <label>
                            Font Weight
                            <InputText @bind-Value="kit.BodyFont" />
                        </label>
                        <label>
                            Vertical Padding
                            <InputText @bind-Value="kit.TertiaryColor" />
                        </label>
                        <label>
                            Horizontal Padding
                            <InputText @bind-Value="kit.PrimaryColor" />
                        </label>
                        <label>
                            Corner Radius
                            <InputText @bind-Value="kit.BodyFont" />
                        </label>
                        <label>
                            Border Width
                            <InputText @bind-Value="kit.TertiaryColor" />
                        </label>
                        <label>
                            Icon Width
                            <InputText @bind-Value="kit.SecondaryColor" />
                        </label>
                        <label>
                            Icon Height
                            <InputText @bind-Value="kit.TertiaryColor" />
                        </label>
                    </div>
                    <label style="padding-bottom: 15px;">Secondary Button</label>
                    <div class="section">
                        <label class="switch">
                            <input type="checkbox" checked @onclick="ToggleBorder">
                            <span class="slider"></span>
                        </label>
                        Secondary Button Border
                    </div>
                    <div class="preview-example">
                        <div>
                            <button>Button</button>
                            <button>
                                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" alt="Kodekit Eye Logo">
                                    <path d="M8 1.3335C11.682 1.3335 14.6667 4.31816 14.6667 8.00016C14.6667 11.6822 11.682 14.6668 8 14.6668C4.318 14.6668 1.33333 11.6822 1.33333 8.00016C1.33333 4.31816 4.318 1.3335 8 1.3335ZM8 2.66683C6.58551 2.66683 5.22896 3.22873 4.22876 4.22893C3.22857 5.22912 2.66667 6.58567 2.66667 8.00016C2.66667 9.41465 3.22857 10.7712 4.22876 11.7714C5.22896 12.7716 6.58551 13.3335 8 13.3335C9.41449 13.3335 10.771 12.7716 11.7712 11.7714C12.7714 10.7712 13.3333 9.41465 13.3333 8.00016C13.3333 6.58567 12.7714 5.22912 11.7712 4.22893C10.771 3.22873 9.41449 2.66683 8 2.66683ZM8 4.66683C8.70173 4.6671 9.38547 4.88881 9.95382 5.30039C10.5222 5.71197 10.9461 6.29241 11.1653 6.95903C11.3845 7.62565 11.3877 8.34443 11.1745 9.01298C10.9613 9.68153 10.5425 10.2657 9.97785 10.6824C9.4132 11.099 8.73146 11.3268 8.02977 11.3334C7.32807 11.3399 6.64222 11.1248 6.06991 10.7188C5.4976 10.3127 5.06803 9.73639 4.8424 9.07193C4.61678 8.40746 4.60661 7.68875 4.81333 7.01816C4.96928 7.36664 5.24018 7.65098 5.58071 7.8236C5.92123 7.99623 6.31071 8.04666 6.68397 7.96647C7.05723 7.88627 7.39162 7.68031 7.63118 7.38305C7.87075 7.08579 8.00095 6.71527 8 6.3335C8.00009 6.01247 7.90746 5.69826 7.73326 5.42861C7.55906 5.15897 7.31069 4.94537 7.018 4.8135C7.32867 4.71816 7.658 4.66683 8 4.66683Z" fill="#FFFFFF" />
                                </svg>
                                Button
                            </button>
                            <button>
                                Button
                                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" alt="Kodekit Eye Logo">
                                    <path d="M8 1.3335C11.682 1.3335 14.6667 4.31816 14.6667 8.00016C14.6667 11.6822 11.682 14.6668 8 14.6668C4.318 14.6668 1.33333 11.6822 1.33333 8.00016C1.33333 4.31816 4.318 1.3335 8 1.3335ZM8 2.66683C6.58551 2.66683 5.22896 3.22873 4.22876 4.22893C3.22857 5.22912 2.66667 6.58567 2.66667 8.00016C2.66667 9.41465 3.22857 10.7712 4.22876 11.7714C5.22896 12.7716 6.58551 13.3335 8 13.3335C9.41449 13.3335 10.771 12.7716 11.7712 11.7714C12.7714 10.7712 13.3333 9.41465 13.3333 8.00016C13.3333 6.58567 12.7714 5.22912 11.7712 4.22893C10.771 3.22873 9.41449 2.66683 8 2.66683ZM8 4.66683C8.70173 4.6671 9.38547 4.88881 9.95382 5.30039C10.5222 5.71197 10.9461 6.29241 11.1653 6.95903C11.3845 7.62565 11.3877 8.34443 11.1745 9.01298C10.9613 9.68153 10.5425 10.2657 9.97785 10.6824C9.4132 11.099 8.73146 11.3268 8.02977 11.3334C7.32807 11.3399 6.64222 11.1248 6.06991 10.7188C5.4976 10.3127 5.06803 9.73639 4.8424 9.07193C4.61678 8.40746 4.60661 7.68875 4.81333 7.01816C4.96928 7.36664 5.24018 7.65098 5.58071 7.8236C5.92123 7.99623 6.31071 8.04666 6.68397 7.96647C7.05723 7.88627 7.39162 7.68031 7.63118 7.38305C7.87075 7.08579 8.00095 6.71527 8 6.3335C8.00009 6.01247 7.90746 5.69826 7.73326 5.42861C7.55906 5.15897 7.31069 4.94537 7.018 4.8135C7.32867 4.71816 7.658 4.66683 8 4.66683Z" fill="#FFFFFF" />
                                </svg>
                            </button>
                            <button style="color: @(kit.SecondaryColor); border-color: @(kit.SecondaryColor)" alt="Kodekit Eye Logo">
                                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 1.3335C11.682 1.3335 14.6667 4.31816 14.6667 8.00016C14.6667 11.6822 11.682 14.6668 8 14.6668C4.318 14.6668 1.33333 11.6822 1.33333 8.00016C1.33333 4.31816 4.318 1.3335 8 1.3335ZM8 2.66683C6.58551 2.66683 5.22896 3.22873 4.22876 4.22893C3.22857 5.22912 2.66667 6.58567 2.66667 8.00016C2.66667 9.41465 3.22857 10.7712 4.22876 11.7714C5.22896 12.7716 6.58551 13.3335 8 13.3335C9.41449 13.3335 10.771 12.7716 11.7712 11.7714C12.7714 10.7712 13.3333 9.41465 13.3333 8.00016C13.3333 6.58567 12.7714 5.22912 11.7712 4.22893C10.771 3.22873 9.41449 2.66683 8 2.66683ZM8 4.66683C8.70173 4.6671 9.38547 4.88881 9.95382 5.30039C10.5222 5.71197 10.9461 6.29241 11.1653 6.95903C11.3845 7.62565 11.3877 8.34443 11.1745 9.01298C10.9613 9.68153 10.5425 10.2657 9.97785 10.6824C9.4132 11.099 8.73146 11.3268 8.02977 11.3334C7.32807 11.3399 6.64222 11.1248 6.06991 10.7188C5.4976 10.3127 5.06803 9.73639 4.8424 9.07193C4.61678 8.40746 4.60661 7.68875 4.81333 7.01816C4.96928 7.36664 5.24018 7.65098 5.58071 7.8236C5.92123 7.99623 6.31071 8.04666 6.68397 7.96647C7.05723 7.88627 7.39162 7.68031 7.63118 7.38305C7.87075 7.08579 8.00095 6.71527 8 6.3335C8.00009 6.01247 7.90746 5.69826 7.73326 5.42861C7.55906 5.15897 7.31069 4.94537 7.018 4.8135C7.32867 4.71816 7.658 4.66683 8 4.66683Z" fill="#FFFFFF" />
                                </svg>
                            </button>
                        </div>
                        <div>
                            <button class="button-secondary @removeBorder" style="color: @(kit.SecondaryColor); border-color: @(kit.SecondaryColor)">Button</button>
                            <button class="button-secondary @removeBorder" style="color: @(kit.SecondaryColor); border-color: @(kit.SecondaryColor)">
                                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" alt="Kodekit Eye Logo">
                                    <path d="M8 1.3335C11.682 1.3335 14.6667 4.31816 14.6667 8.00016C14.6667 11.6822 11.682 14.6668 8 14.6668C4.318 14.6668 1.33333 11.6822 1.33333 8.00016C1.33333 4.31816 4.318 1.3335 8 1.3335ZM8 2.66683C6.58551 2.66683 5.22896 3.22873 4.22876 4.22893C3.22857 5.22912 2.66667 6.58567 2.66667 8.00016C2.66667 9.41465 3.22857 10.7712 4.22876 11.7714C5.22896 12.7716 6.58551 13.3335 8 13.3335C9.41449 13.3335 10.771 12.7716 11.7712 11.7714C12.7714 10.7712 13.3333 9.41465 13.3333 8.00016C13.3333 6.58567 12.7714 5.22912 11.7712 4.22893C10.771 3.22873 9.41449 2.66683 8 2.66683ZM8 4.66683C8.70173 4.6671 9.38547 4.88881 9.95382 5.30039C10.5222 5.71197 10.9461 6.29241 11.1653 6.95903C11.3845 7.62565 11.3877 8.34443 11.1745 9.01298C10.9613 9.68153 10.5425 10.2657 9.97785 10.6824C9.4132 11.099 8.73146 11.3268 8.02977 11.3334C7.32807 11.3399 6.64222 11.1248 6.06991 10.7188C5.4976 10.3127 5.06803 9.73639 4.8424 9.07193C4.61678 8.40746 4.60661 7.68875 4.81333 7.01816C4.96928 7.36664 5.24018 7.65098 5.58071 7.8236C5.92123 7.99623 6.31071 8.04666 6.68397 7.96647C7.05723 7.88627 7.39162 7.68031 7.63118 7.38305C7.87075 7.08579 8.00095 6.71527 8 6.3335C8.00009 6.01247 7.90746 5.69826 7.73326 5.42861C7.55906 5.15897 7.31069 4.94537 7.018 4.8135C7.32867 4.71816 7.658 4.66683 8 4.66683Z" fill="@kit.SecondaryColor" />
                                </svg>
                                Button
                            </button>
                            <button class="button-secondary @removeBorder" style="color: @(kit.SecondaryColor); border-color: @(kit.SecondaryColor)">
                                Button
                                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" alt="Kodekit Eye Logo">
                                    <path d="M8 1.3335C11.682 1.3335 14.6667 4.31816 14.6667 8.00016C14.6667 11.6822 11.682 14.6668 8 14.6668C4.318 14.6668 1.33333 11.6822 1.33333 8.00016C1.33333 4.31816 4.318 1.3335 8 1.3335ZM8 2.66683C6.58551 2.66683 5.22896 3.22873 4.22876 4.22893C3.22857 5.22912 2.66667 6.58567 2.66667 8.00016C2.66667 9.41465 3.22857 10.7712 4.22876 11.7714C5.22896 12.7716 6.58551 13.3335 8 13.3335C9.41449 13.3335 10.771 12.7716 11.7712 11.7714C12.7714 10.7712 13.3333 9.41465 13.3333 8.00016C13.3333 6.58567 12.7714 5.22912 11.7712 4.22893C10.771 3.22873 9.41449 2.66683 8 2.66683ZM8 4.66683C8.70173 4.6671 9.38547 4.88881 9.95382 5.30039C10.5222 5.71197 10.9461 6.29241 11.1653 6.95903C11.3845 7.62565 11.3877 8.34443 11.1745 9.01298C10.9613 9.68153 10.5425 10.2657 9.97785 10.6824C9.4132 11.099 8.73146 11.3268 8.02977 11.3334C7.32807 11.3399 6.64222 11.1248 6.06991 10.7188C5.4976 10.3127 5.06803 9.73639 4.8424 9.07193C4.61678 8.40746 4.60661 7.68875 4.81333 7.01816C4.96928 7.36664 5.24018 7.65098 5.58071 7.8236C5.92123 7.99623 6.31071 8.04666 6.68397 7.96647C7.05723 7.88627 7.39162 7.68031 7.63118 7.38305C7.87075 7.08579 8.00095 6.71527 8 6.3335C8.00009 6.01247 7.90746 5.69826 7.73326 5.42861C7.55906 5.15897 7.31069 4.94537 7.018 4.8135C7.32867 4.71816 7.658 4.66683 8 4.66683Z" fill="@kit.SecondaryColor" />
                                </svg>
                            </button>
                            <button class="button-secondary @removeBorder" style="color: @(kit.SecondaryColor); border-color: @(kit.SecondaryColor)">
                                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" alt="Kodekit Eye Logo">
                                    <path d="M8 1.3335C11.682 1.3335 14.6667 4.31816 14.6667 8.00016C14.6667 11.6822 11.682 14.6668 8 14.6668C4.318 14.6668 1.33333 11.6822 1.33333 8.00016C1.33333 4.31816 4.318 1.3335 8 1.3335ZM8 2.66683C6.58551 2.66683 5.22896 3.22873 4.22876 4.22893C3.22857 5.22912 2.66667 6.58567 2.66667 8.00016C2.66667 9.41465 3.22857 10.7712 4.22876 11.7714C5.22896 12.7716 6.58551 13.3335 8 13.3335C9.41449 13.3335 10.771 12.7716 11.7712 11.7714C12.7714 10.7712 13.3333 9.41465 13.3333 8.00016C13.3333 6.58567 12.7714 5.22912 11.7712 4.22893C10.771 3.22873 9.41449 2.66683 8 2.66683ZM8 4.66683C8.70173 4.6671 9.38547 4.88881 9.95382 5.30039C10.5222 5.71197 10.9461 6.29241 11.1653 6.95903C11.3845 7.62565 11.3877 8.34443 11.1745 9.01298C10.9613 9.68153 10.5425 10.2657 9.97785 10.6824C9.4132 11.099 8.73146 11.3268 8.02977 11.3334C7.32807 11.3399 6.64222 11.1248 6.06991 10.7188C5.4976 10.3127 5.06803 9.73639 4.8424 9.07193C4.61678 8.40746 4.60661 7.68875 4.81333 7.01816C4.96928 7.36664 5.24018 7.65098 5.58071 7.8236C5.92123 7.99623 6.31071 8.04666 6.68397 7.96647C7.05723 7.88627 7.39162 7.68031 7.63118 7.38305C7.87075 7.08579 8.00095 6.71527 8 6.3335C8.00009 6.01247 7.90746 5.69826 7.73326 5.42861C7.55906 5.15897 7.31069 4.94537 7.018 4.8135C7.32867 4.71816 7.658 4.66683 8 4.66683Z" fill="@kit.SecondaryColor" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <pre>
                    <code>
&lt;button&gt;Button Label&lt;/h1&gt;//default
&lt;!-- the button contents will adapt as you add labels, svgs, pngs or jpegs --&gt;
&lt;button&gt;&lt;img src="icon_eye.svg" alt="Image of Kodekit Eye"&gt;Button Label&lt;/button&gt;
&lt;button&gt;Button Label &lt;img src="icon_eye" alt="Image of Kodekit Eye"&gt;&lt;/button&gt;
&lt;button&gt;&lt;img src="icon_eye" alt="Image of Kodekit Eye"&gt;&lt;/button&gt;
                        </code>
                    </pre>
                    <h3>Button Variations & States</h3>
                    <p class="subheader">
                        Hover styling is applied upon mouseover. Disabled styling is applied when a user cannot interact with the button. Icons may be added to buttons for further variation or illustrative purposes.  
                    </p>
                    <div class="preview-example">
                        <div>
                            <button>Default</button>
                            <button>
                                Default
                                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" alt="Kodekit Eye Logo">
                                    <path d="M8 1.3335C11.682 1.3335 14.6667 4.31816 14.6667 8.00016C14.6667 11.6822 11.682 14.6668 8 14.6668C4.318 14.6668 1.33333 11.6822 1.33333 8.00016C1.33333 4.31816 4.318 1.3335 8 1.3335ZM8 2.66683C6.58551 2.66683 5.22896 3.22873 4.22876 4.22893C3.22857 5.22912 2.66667 6.58567 2.66667 8.00016C2.66667 9.41465 3.22857 10.7712 4.22876 11.7714C5.22896 12.7716 6.58551 13.3335 8 13.3335C9.41449 13.3335 10.771 12.7716 11.7712 11.7714C12.7714 10.7712 13.3333 9.41465 13.3333 8.00016C13.3333 6.58567 12.7714 5.22912 11.7712 4.22893C10.771 3.22873 9.41449 2.66683 8 2.66683ZM8 4.66683C8.70173 4.6671 9.38547 4.88881 9.95382 5.30039C10.5222 5.71197 10.9461 6.29241 11.1653 6.95903C11.3845 7.62565 11.3877 8.34443 11.1745 9.01298C10.9613 9.68153 10.5425 10.2657 9.97785 10.6824C9.4132 11.099 8.73146 11.3268 8.02977 11.3334C7.32807 11.3399 6.64222 11.1248 6.06991 10.7188C5.4976 10.3127 5.06803 9.73639 4.8424 9.07193C4.61678 8.40746 4.60661 7.68875 4.81333 7.01816C4.96928 7.36664 5.24018 7.65098 5.58071 7.8236C5.92123 7.99623 6.31071 8.04666 6.68397 7.96647C7.05723 7.88627 7.39162 7.68031 7.63118 7.38305C7.87075 7.08579 8.00095 6.71527 8 6.3335C8.00009 6.01247 7.90746 5.69826 7.73326 5.42861C7.55906 5.15897 7.31069 4.94537 7.018 4.8135C7.32867 4.71816 7.658 4.66683 8 4.66683Z" fill="#FFFFFF" />
                                </svg>
                            </button>
                            <button class="hover">Hover</button>
                            <button class="hover">
                                Hover
                                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" alt="Kodekit Eye Logo">
                                    <path d="M8 1.3335C11.682 1.3335 14.6667 4.31816 14.6667 8.00016C14.6667 11.6822 11.682 14.6668 8 14.6668C4.318 14.6668 1.33333 11.6822 1.33333 8.00016C1.33333 4.31816 4.318 1.3335 8 1.3335ZM8 2.66683C6.58551 2.66683 5.22896 3.22873 4.22876 4.22893C3.22857 5.22912 2.66667 6.58567 2.66667 8.00016C2.66667 9.41465 3.22857 10.7712 4.22876 11.7714C5.22896 12.7716 6.58551 13.3335 8 13.3335C9.41449 13.3335 10.771 12.7716 11.7712 11.7714C12.7714 10.7712 13.3333 9.41465 13.3333 8.00016C13.3333 6.58567 12.7714 5.22912 11.7712 4.22893C10.771 3.22873 9.41449 2.66683 8 2.66683ZM8 4.66683C8.70173 4.6671 9.38547 4.88881 9.95382 5.30039C10.5222 5.71197 10.9461 6.29241 11.1653 6.95903C11.3845 7.62565 11.3877 8.34443 11.1745 9.01298C10.9613 9.68153 10.5425 10.2657 9.97785 10.6824C9.4132 11.099 8.73146 11.3268 8.02977 11.3334C7.32807 11.3399 6.64222 11.1248 6.06991 10.7188C5.4976 10.3127 5.06803 9.73639 4.8424 9.07193C4.61678 8.40746 4.60661 7.68875 4.81333 7.01816C4.96928 7.36664 5.24018 7.65098 5.58071 7.8236C5.92123 7.99623 6.31071 8.04666 6.68397 7.96647C7.05723 7.88627 7.39162 7.68031 7.63118 7.38305C7.87075 7.08579 8.00095 6.71527 8 6.3335C8.00009 6.01247 7.90746 5.69826 7.73326 5.42861C7.55906 5.15897 7.31069 4.94537 7.018 4.8135C7.32867 4.71816 7.658 4.66683 8 4.66683Z" fill="#FFFFFF" />
                                </svg>
                            </button>
                            <button class="disabled">Disabled</button>
                            <button class="disabled">
                                Disabled
                                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" alt="Kodekit Eye Logo">
                                    <path d="M8 1.3335C11.682 1.3335 14.6667 4.31816 14.6667 8.00016C14.6667 11.6822 11.682 14.6668 8 14.6668C4.318 14.6668 1.33333 11.6822 1.33333 8.00016C1.33333 4.31816 4.318 1.3335 8 1.3335ZM8 2.66683C6.58551 2.66683 5.22896 3.22873 4.22876 4.22893C3.22857 5.22912 2.66667 6.58567 2.66667 8.00016C2.66667 9.41465 3.22857 10.7712 4.22876 11.7714C5.22896 12.7716 6.58551 13.3335 8 13.3335C9.41449 13.3335 10.771 12.7716 11.7712 11.7714C12.7714 10.7712 13.3333 9.41465 13.3333 8.00016C13.3333 6.58567 12.7714 5.22912 11.7712 4.22893C10.771 3.22873 9.41449 2.66683 8 2.66683ZM8 4.66683C8.70173 4.6671 9.38547 4.88881 9.95382 5.30039C10.5222 5.71197 10.9461 6.29241 11.1653 6.95903C11.3845 7.62565 11.3877 8.34443 11.1745 9.01298C10.9613 9.68153 10.5425 10.2657 9.97785 10.6824C9.4132 11.099 8.73146 11.3268 8.02977 11.3334C7.32807 11.3399 6.64222 11.1248 6.06991 10.7188C5.4976 10.3127 5.06803 9.73639 4.8424 9.07193C4.61678 8.40746 4.60661 7.68875 4.81333 7.01816C4.96928 7.36664 5.24018 7.65098 5.58071 7.8236C5.92123 7.99623 6.31071 8.04666 6.68397 7.96647C7.05723 7.88627 7.39162 7.68031 7.63118 7.38305C7.87075 7.08579 8.00095 6.71527 8 6.3335C8.00009 6.01247 7.90746 5.69826 7.73326 5.42861C7.55906 5.15897 7.31069 4.94537 7.018 4.8135C7.32867 4.71816 7.658 4.66683 8 4.66683Z" fill="#FFFFFF" />
                                </svg>
                            </button>
                        </div>
                        <div>
                            <button class="button-secondary @removeBorder" style="color: @(kit.SecondaryColor); border-color: @(kit.SecondaryColor)">Default</button>
                            <button class="button-secondary @removeBorder" style="color: @(kit.SecondaryColor); border-color: @(kit.SecondaryColor)">
                                Default
                                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" alt="Kodekit Eye Logo">
                                    <path d="M8 1.3335C11.682 1.3335 14.6667 4.31816 14.6667 8.00016C14.6667 11.6822 11.682 14.6668 8 14.6668C4.318 14.6668 1.33333 11.6822 1.33333 8.00016C1.33333 4.31816 4.318 1.3335 8 1.3335ZM8 2.66683C6.58551 2.66683 5.22896 3.22873 4.22876 4.22893C3.22857 5.22912 2.66667 6.58567 2.66667 8.00016C2.66667 9.41465 3.22857 10.7712 4.22876 11.7714C5.22896 12.7716 6.58551 13.3335 8 13.3335C9.41449 13.3335 10.771 12.7716 11.7712 11.7714C12.7714 10.7712 13.3333 9.41465 13.3333 8.00016C13.3333 6.58567 12.7714 5.22912 11.7712 4.22893C10.771 3.22873 9.41449 2.66683 8 2.66683ZM8 4.66683C8.70173 4.6671 9.38547 4.88881 9.95382 5.30039C10.5222 5.71197 10.9461 6.29241 11.1653 6.95903C11.3845 7.62565 11.3877 8.34443 11.1745 9.01298C10.9613 9.68153 10.5425 10.2657 9.97785 10.6824C9.4132 11.099 8.73146 11.3268 8.02977 11.3334C7.32807 11.3399 6.64222 11.1248 6.06991 10.7188C5.4976 10.3127 5.06803 9.73639 4.8424 9.07193C4.61678 8.40746 4.60661 7.68875 4.81333 7.01816C4.96928 7.36664 5.24018 7.65098 5.58071 7.8236C5.92123 7.99623 6.31071 8.04666 6.68397 7.96647C7.05723 7.88627 7.39162 7.68031 7.63118 7.38305C7.87075 7.08579 8.00095 6.71527 8 6.3335C8.00009 6.01247 7.90746 5.69826 7.73326 5.42861C7.55906 5.15897 7.31069 4.94537 7.018 4.8135C7.32867 4.71816 7.658 4.66683 8 4.66683Z" fill="@kit.SecondaryColor" />
                                </svg>
                            </button>
                            <button class="hover-secondary @removeBorder" style="color: @(kit.SecondaryColor); border-color: @(kit.SecondaryColor);">Hover</button>
                            <button class="hover-secondary @removeBorder" style="color: @(kit.SecondaryColor); border-color: @(kit.SecondaryColor)">
                                Hover
                                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" alt="Kodekit Eye Logo">
                                    <path d="M8 1.3335C11.682 1.3335 14.6667 4.31816 14.6667 8.00016C14.6667 11.6822 11.682 14.6668 8 14.6668C4.318 14.6668 1.33333 11.6822 1.33333 8.00016C1.33333 4.31816 4.318 1.3335 8 1.3335ZM8 2.66683C6.58551 2.66683 5.22896 3.22873 4.22876 4.22893C3.22857 5.22912 2.66667 6.58567 2.66667 8.00016C2.66667 9.41465 3.22857 10.7712 4.22876 11.7714C5.22896 12.7716 6.58551 13.3335 8 13.3335C9.41449 13.3335 10.771 12.7716 11.7712 11.7714C12.7714 10.7712 13.3333 9.41465 13.3333 8.00016C13.3333 6.58567 12.7714 5.22912 11.7712 4.22893C10.771 3.22873 9.41449 2.66683 8 2.66683ZM8 4.66683C8.70173 4.6671 9.38547 4.88881 9.95382 5.30039C10.5222 5.71197 10.9461 6.29241 11.1653 6.95903C11.3845 7.62565 11.3877 8.34443 11.1745 9.01298C10.9613 9.68153 10.5425 10.2657 9.97785 10.6824C9.4132 11.099 8.73146 11.3268 8.02977 11.3334C7.32807 11.3399 6.64222 11.1248 6.06991 10.7188C5.4976 10.3127 5.06803 9.73639 4.8424 9.07193C4.61678 8.40746 4.60661 7.68875 4.81333 7.01816C4.96928 7.36664 5.24018 7.65098 5.58071 7.8236C5.92123 7.99623 6.31071 8.04666 6.68397 7.96647C7.05723 7.88627 7.39162 7.68031 7.63118 7.38305C7.87075 7.08579 8.00095 6.71527 8 6.3335C8.00009 6.01247 7.90746 5.69826 7.73326 5.42861C7.55906 5.15897 7.31069 4.94537 7.018 4.8135C7.32867 4.71816 7.658 4.66683 8 4.66683Z" fill="@kit.SecondaryColor" />
                                </svg>
                            </button>
                            <button class="disabled-secondary @removeBorder">Disabled</button>
                            <button class="disabled-secondary @removeBorder">
                                Disabled
                                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" alt="Kodekit Eye Logo">
                                    <path d="M8 1.3335C11.682 1.3335 14.6667 4.31816 14.6667 8.00016C14.6667 11.6822 11.682 14.6668 8 14.6668C4.318 14.6668 1.33333 11.6822 1.33333 8.00016C1.33333 4.31816 4.318 1.3335 8 1.3335ZM8 2.66683C6.58551 2.66683 5.22896 3.22873 4.22876 4.22893C3.22857 5.22912 2.66667 6.58567 2.66667 8.00016C2.66667 9.41465 3.22857 10.7712 4.22876 11.7714C5.22896 12.7716 6.58551 13.3335 8 13.3335C9.41449 13.3335 10.771 12.7716 11.7712 11.7714C12.7714 10.7712 13.3333 9.41465 13.3333 8.00016C13.3333 6.58567 12.7714 5.22912 11.7712 4.22893C10.771 3.22873 9.41449 2.66683 8 2.66683ZM8 4.66683C8.70173 4.6671 9.38547 4.88881 9.95382 5.30039C10.5222 5.71197 10.9461 6.29241 11.1653 6.95903C11.3845 7.62565 11.3877 8.34443 11.1745 9.01298C10.9613 9.68153 10.5425 10.2657 9.97785 10.6824C9.4132 11.099 8.73146 11.3268 8.02977 11.3334C7.32807 11.3399 6.64222 11.1248 6.06991 10.7188C5.4976 10.3127 5.06803 9.73639 4.8424 9.07193C4.61678 8.40746 4.60661 7.68875 4.81333 7.01816C4.96928 7.36664 5.24018 7.65098 5.58071 7.8236C5.92123 7.99623 6.31071 8.04666 6.68397 7.96647C7.05723 7.88627 7.39162 7.68031 7.63118 7.38305C7.87075 7.08579 8.00095 6.71527 8 6.3335C8.00009 6.01247 7.90746 5.69826 7.73326 5.42861C7.55906 5.15897 7.31069 4.94537 7.018 4.8135C7.32867 4.71816 7.658 4.66683 8 4.66683Z" fill="#D2D4D9" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <pre>
                    <code>
&lt;!-- control button state with html attributes --&gt;
&lt;button&gt;Button Label&lt;/h1&gt;//default
&lt;button disabled&gt;Button Label&lt;/h1&gt;
&lt;button class="secondary-btn"&gt;Button Label&lt;/h1&gt;
&lt;button class="secondary-btn" disabled&gt;Button Label&lt;/h1&gt;
                        </code>
                    </pre>
                    <button @onclick="Submit">
                        Save & Continue
                        <img src="/images/eyecon.svg" alt="Kodekit Eye Logo" />
                    </button>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    private Kit kit = new Kit();
    [Parameter] public string kitId { get; set; }
    string currentKitId;
    string removeBorder = "";

    protected override async Task OnInitializedAsync()
    {
        await GetKit();
    }

    private async Task GetKit()
    {
        //get from local storage
        string result = await localStorage.GetItemAsync<string>("kodekitId");
        currentKitId = result;

        if (kitId != null)
        {
            kit = await PublicApi().GetKitAsync(currentKitId);
        }
        else if (currentKitId != null)
        {
            kit = await PublicApi().GetKitAsync(currentKitId);
        }
    }

    private async Task Submit()
    {
        await PublicApi().UpdateKitAsync(kit);
        Nav.NavigateTo("/inputs/" + kit.KitId);
    }

    private void ToggleBorder()
    {
        if(removeBorder == "")
        {
            removeBorder = "remove";
        } else
        {
            removeBorder = "";
        }
    }
}
