@if (ShowPage == true)
{
    <div class="page-info">
        <div class="breadcrumbs">
            <div class="title">
                My Styleguides
                <img src="/images/right-icon.svg" />
            </div>
            <div class="kit-select">
                Untitled Styleguide
                <img src="/images/dropdown-icon.svg" />
            </div>
        </div>
        <div class="info">
            <div class="info--time">Last Saved: 12:03 PM</div>
            <div class="actions">
                <img @onclick="ShowDeleteModal" src="/images/delete-icon.png" title="Delete" />
                <img @onclick="CopyKit" src="/images/copy-icon.png" title="Copy" />
                <img @onclick="DownloadKit" src="/images/download-icon.png" title="Download" />
                <div class="version-select">

                </div>
            </div>
            <div class="history @(ShowDropdown == true ? "selected" : "")" @onclick="ToggleDropdown">
                @if (ShowDropdown == false)
                {
                    <img class="icon-left" src="/images/history-icon.svg" />
                }
                else
                {
                    <img class="icon-left" src="/images/blue-history-icon.svg" />
                }
                Version History
                @if (ShowDropdown == false)
                {
                    <img class="icon-right" src="/images/dropdown-icon.svg" />
                }
                else
                {
                    <img class="icon-right" src="/images/blue-close-icon.svg" />
                }
            </div>
        </div>
        @if (ShowDropdown == true)
        {
            <div class="history--dropdown">
                <div class="title">Version History</div>
                <div class="current">Current Version</div>
                <div class="title">Past Versions</div>
                <ul>
                    @if (Kits != null)
                    {
                        @foreach (var item in Kits)
                        {
                            <li @onclick="@(e => ShowOptions(item.KitId))">
                                @item.DateCreated.Value.ToString("MMM dd, yyyy hh:mm tt")
                                <span class="material-icons">more_vert</span>
                                @if (ShowKitOptions == item.KitId)
                                {
                                    <div class="publish-options">
                                        <ul>
                                            <li>Push Live</li>
                                            <li>Rename Version</li>
                                            <li>Preview Version</li>
                                            <li>Revert to Version</li>
                                            <li>Delete Version</li>
                                        </ul>
                                    </div>
                                }
                            </li>

                        }
                    }
                </ul>
            </div>
        }
    </div>
    <DeleteKitModal Show="@Show" CloseModal="CloseModal" Kit="@kit"/>
}


@code {
    bool ShowDropdown = false;
    bool ShowPage = true;
    string ShowKitOptions = "";
    string Show = "";
    private ICollection<Kit> Kits;
    Kit kit;


    protected override async Task OnInitializedAsync()
    {
        string currentKitId = await localStorage.GetItemAsync<string>("kodekitId");
        kit = await Api.GetKitAsync(currentKitId);
        Kits = await Api.GetRelatedKitsAsync(currentKitId);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (Nav.Uri.Contains("my-kits"))
            ShowPage = false;
    }

    private void ToggleDropdown()
    {
        ShowDropdown = !ShowDropdown;

    }

    private void ShowDeleteModal()
    {
        Show = "active";
    }

    private void CloseModal()
    {
        Show = "";
    }

    private async Task CopyKit()
    {
        Kit newkit = await Api.CreateKitAsync(kit);
        Nav.NavigateTo("/typography/" + newkit.Id);
    }

    private void DownloadKit()
    {

    }

    private void ShowOptions(string kitId)
    {
        if (ShowKitOptions == kitId)
        {
            ShowKitOptions = "";
        }
        else
        {
            ShowKitOptions = kitId;
        }
    }
}