@if (ShowPage == true)
{
    <div class="page-info">
        <div class="breadcrumbs">
            <div class="title">
                My Styleguides
                <img src="/images/right-icon.svg" />
            </div>
            <div class="kit-select">
                Untitled Styleguide
                <img src="/images/dropdown-icon.svg" />
            </div>
        </div>
        <div class="info">
            <div class="info--time">Last Saved: 12:03 PM</div>
            <div class="actions">
                <img @onclick="@(e => ShowDeleteModal(kit.Id))" src="/images/delete-icon.png" title="Delete" />
                <img @onclick="CopyKit" src="/images/copy-icon.png" title="Copy" />
                <img @onclick="DownloadKit" src="/images/download-icon.png" title="Download" />
                <div class="version-select">

                </div>
            </div>
            <div class="history @(ShowDropdown == true ? "selected" : "")" @onclick="ToggleDropdown">
                @if (ShowDropdown == false)
                {
                    <img class="icon-left" src="/images/history-icon.svg" />
                }
                else
                {
                    <img class="icon-left" src="/images/blue-history-icon.svg" />
                }
                Version History
                @if (ShowDropdown == false)
                {
                    <img class="icon-right" src="/images/dropdown-icon.svg" />
                }
                else
                {
                    <img class="icon-right" src="/images/blue-close-icon.svg" />
                }
            </div>
        </div>
        @if (ShowDropdown == true)
        {
            <div class="history--dropdown">
                <div class="title">Version History</div>
                <div class="current">Current Version</div>
                <div class="title">Past Versions</div>
                <ul>
                    @if (Kits != null)
                    {
                        @foreach (var item in Kits)
                        {
                            <li @onclick="@(e => ShowOptions(item.KitId))">
                                @if(!String.IsNullOrEmpty(item.Name))
                                {
                                    @if(EditName == item.KitId)
                                    {
                                        <span>
                                            <input placeholder="@item.Name" @bind-value="@item.Name"/>
                                            <button @onclick="@(e => UpdateKitName(item.KitId))">Save</button>
                                        </span>
                                    } else
                                    {
                                        <span>@item.Name</span>
                                    }
                                } else
                                {
                                    @if(EditName == item.KitId)
                                    {
                                        <input placeholder="@item.Name" @bind-value="@item.Name"/>
                                        <button @onclick="@(e => UpdateKitName(item.KitId))">Save</button>

                                    } else
                                    {
                                        <span>@item.DateCreated.Value.ToString("MMM dd, yyyy hh:mm tt")</span>
                                    }
                                }
                                <span class="material-icons">more_vert</span>
                                @if (ShowKitOptions == item.KitId)
                                {
                                    <div class="publish-options">
                                        <ul>
                                            <li @onclick="@(e => Publish(item.KitId))">Push Live</li>
                                            <li @onclick="@(e => ShowEditName(item.KitId))">Rename Version</li>
                                            <li @onclick="@(e => GoToPreview(item.KitId))">Preview Version</li>
                                            <li>Revert to Version</li>
                                            <li @onclick="@(e => ShowDeleteModal(item.KitId))">Delete Version</li>
                                        </ul>
                                    </div>
                                }
                            </li>
                        }
                    }
                </ul>
                <div class="auto-publish">
                    <label class="switch">
                        <input type="checkbox" @bind="SelectAutoPublish" @oninput="SetAutoPublish">
                        <span class="slider"></span>
                    </label>
                    Auto Publish Saves
                </div>
            </div>
        }
    </div>
    <DeleteKitModal Show="@Show" CloseModal="CloseModal" Kit="@kit" SelectedKit="@SelectedVersion"/>
}


@code {
    bool ShowDropdown = false;
    bool ShowPage = true;
    string ShowKitOptions = "";
    string Show = "";
    string SelectedVersion = "";
    string EditName = "";
    bool SelectAutoPublish = false;
    private ICollection<Kit> Kits;
    Kit kit;


    protected override async Task OnInitializedAsync()
    {
        string currentKitId = await localStorage.GetItemAsync<string>("kodekitId");
        kit = await Api.GetKitAsync(currentKitId);
        Kits = await Api.GetRelatedKitsAsync(currentKitId);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (Nav.Uri.Contains("my-kits"))
            ShowPage = false;
    }

    private void ToggleDropdown()
    {
        ShowDropdown = !ShowDropdown;

    }

    private void ShowDeleteModal(string selected)
    {
        SelectedVersion = selected;
        Show = "active";
    }

    private void CloseModal()
    {
        Show = "";
    }

    private async Task CopyKit()
    {
        Kit newkit = kit;
        newkit.Id = Guid.NewGuid().ToString();
        newkit.KitId = Guid.NewGuid().ToString();
        newkit = await Api.CreateKitAsync(newkit);
        Nav.NavigateTo("/typography/" + newkit.KitId);
    }

    private void DownloadKit()
    {

    }

    private async Task Publish(string kitId)
    {
        //Get version to publish
        Kit publishKit = await Api.GetKitAsync(kitId);
        await Api.PublishKitAsync(publishKit);
    }

    private void ShowOptions(string kitId)
    {
        if (ShowKitOptions == kitId)
        {
            ShowKitOptions = "";
        }
        else
        {
            ShowKitOptions = kitId;
        }
    }

    private void ShowEditName(string kitId)
    {
        EditName = kitId;
        ShowKitOptions = "";
    }

    private async Task UpdateKitName(string kitId)
    {
        Kit selectedKit = Kits.Where(x => x.KitId == kitId).FirstOrDefault();
        EditName = "";
        Console.WriteLine(kitId);
        await Api.UpdateKitAsync(selectedKit);
    }

    private void GoToPreview(string kitId)
    {
        Nav.NavigateTo("/preview/" + kitId);
    }

    private async Task SetAutoPublish()
    {
        if (SelectAutoPublish == false)
            SelectAutoPublish = true;
        else
            SelectAutoPublish = false;

        kit.IsAutoPublish = SelectAutoPublish;

        await Api.UpdateKitAsync(kit);
    }
}