@inherits HighlightPageBase<object>
@page "/installation"
@page "/{kitId}/installation"

<div class="page installation">
    <div class="page__container">
        <header>
            <div class="title">Getting Started</div>
            <h2>Installation</h2>
            <p>
                There are two ways to install Kodekit into your project, both of which are extremely easy to set up.
            </p>
        </header>
        <div class="content">
            <h3>Option One: Import & Auto Update</h3>
            <p class="subheader">
                Importing Kodekit into your project is as easy as adding the link to the 
                <span>&lt;head&gt;</span> section of your "index.html" file.  It allows for quickly 
                linking your theme to your project, and allows for auto-updating.
            </p>
            <div class="steps">1. Add Script</div>
            <div class="instructions">
                <input type="hidden" id="step-one" value="@("<link rel=\"stylesheet\" type=\"text/css\" href=\"" + ImportUrl + "\">")" />
                <button @onclick="StepOneCopy">@CopyText</button>
                <br />
                <pre>
<code>&lt;link rel="stylesheet" href="@ImportUrl"&gt;</code>
            </pre>
            </div>

            <div class="steps">2. Auto Update</div>
            <p class="subheader">
                Each time you change, update or save your Kodekit theme, your projects
                using the theme script will auto-update, allowing you to make changes to your live project.
            </p>
            <h3 class="installation--title">Option Two: Manual Download</h3>
            <p class="subheader">
                If you would rather take a more manual approach, you can instead download the .css file, 
                and add that directly to your project folder. 
            </p>
            <p class="subheader">
                Make sure you re-download and add this file every time you update the Kodekit Theme.
            </p>
            <div class="steps">1. Download your CSS file</div>
            <a class="download" href="@ImportUrl" download="@ImportUrl" target="_blank">
                Download .css file
                <img src="/images/filedownload-icon.svg" alt="File Download" />
            </a>
        </div>
    </div>
</div>

@inject IConfiguration Config
@code {
    string ImportUrl;
    string CopyText = "Copy";

    protected override void OnInitialized()
    {
        ImportUrl = Config["ApiUrl"] + $"/{kitId}.css";
    }

    private async Task StepOneCopy()
    {
        CopyText = "Copied";
        await Task.Delay(2000);
        CopyText = "Copy";
        //copy to clipboard link
        await JSRuntime.InvokeAsync<string>("copyToClipboard", "step-one");
    }
}