@using Kodekit.Web.Components.Colors;

<div class="kit-card--divider"></div>
<div tabindex="0" @onclick="@(e => GoToKit(Kit.Id))" @onkeydown="@(e => GoToKit(Kit.Id))" class="kit-card">
    <div class="kit-card--header">
        <label>@Kit.KitId</label>
        <div class="kit-info">
            <span class="last-saved">
                Last Saved: @Kit.DateModified.ToString("MM/dd/yyyy hh:mm tt")
            </span>
            <div class="kit-actions">
                <button>
                    <img src="images/preview-icon.svg" />
                </button>
                <button>
                    <img src="images/download-icon.svg" />
                </button>
                <button>
                    <img src="images/delete-icon2.svg" />
                </button>
                <button>
                    <img src="images/more-icon.svg" class="more-actions" />
                </button>
            </div>
        </div>
    </div>
    <div class="kit-card--preview preview-@Kit.Id">
        <style type="text/css">
            @@import url('@CssUrl(Kit)');
        </style>
        <div class="typography">
            <label>Typography</label>
            @if (Typography != null)
            {
                <div class="typography--preview">
                    <h5>Heading/H5/@Typography.Heading?.FontFamily</h5>
                    <span>Body/Regular/@Typography.Paragraph?.FontFamily</span>
                </div>
            }
        </div>
        <div class="preview--divider"></div>
        <div class="colors">
            <label>Base color</label>
            <div class="colors--preview">
                <ColorBlotch Hex="primary-500" />
                <ColorBlotch Hex="secondary-500" />
                <ColorBlotch Hex="tertiary-500" />
            </div>
        </div>
        <div class="preview--divider"></div>
        <div class="colors">
            <label>Black and White</label>
            <div class="colors--preview">
                <ColorBlotch Hex="grey-100" />
                <ColorBlotch Hex="grey-900" />
            </div>
        </div>
        <div class="preview--divider"></div>
        <div class="colors">
            <label>System Color</label>
            <div class="colors--preview">
                <ColorBlotch Hex="error-500" />
                <ColorBlotch Hex="warning-500" />
                <ColorBlotch Hex="success-500" />
            </div>
        </div>
    </div>
</div>

@inject IConfiguration Config
@code {
    [Parameter]
    public Kit Kit { get; set; }

    GetTypographyResponse Typography { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Typography = await Api.GetTypographyAsync(Kit.Id);
    }

    private string CssUrl(Kit kit) => Config["ApiUrl"] + $"/{kit.Id}.css?scope=preview-{kit.Id}";

    private async Task GoToKit(string kit)
    {
        Nav.NavigateTo($"/{kit}/introduction");
    }
}