@inherits LiveForm
@page "/{kitId}/colors"

<header>
    <h1>Base Styles</h1>
    <h2>Colors</h2>
    <p>
        Colors selected here will be applied throughout the kit. They will be
        applied to their respective elements (such as primary and secondary buttons)
        &amp; system colors, as well as accessed via css variables.
    </p>
</header>
<article>
    <!-- Contrast Checker Component Here -->
    @if (kit != null)
    {
        <EditForm EditContext="@Context">
            <section class="colors--brand">
                <header class="flex">
                    <h3><span>01</span> Brand Colors</h3>
                    <p>
                        The brand colors are the three main colors that will be used to accent your site.
                    </p>
                </header>
                <ColorDisplay Kit=kit ColorType="ColorTypes.Primary" />
                <ColorDisplay Kit=kit ColorType="ColorTypes.Secondary" />
                <ColorDisplay Kit=kit ColorType="ColorTypes.Tertiary" />
            </section>
            <section class="colors--greyscale">
                <header class="flex">
                    <h3><span>02</span>Greyscale</h3>
                    <p class="subheader">
                        The greyscale colors will primarily be used for text.
                    </p>
                </header>
                <ColorDisplay Kit=kit ColorType="ColorTypes.Lightest" />
                <ColorDisplay Kit=kit ColorType="ColorTypes.Darkest" />
            </section>

            <section class="colors--system">
                <header class="flex">
                    <h3><span>03</span>System Colors</h3>
                    <p>
                        The system colors are used to highlight alerts.
                    </p>
                </header>
                <ColorDisplay Kit=kit ColorType="ColorTypes.Error" />
                <ColorDisplay Kit=kit ColorType="ColorTypes.Warning" />
                <ColorDisplay Kit=kit ColorType="ColorTypes.Success" />
            </section>

            <section class="colors--preview">
                <header class="flex">
                    <h3>Preview</h3>
                    <p class="subheader">A small example of all colors, buttons, and typography applied to two cards.</p>
                </header>
                <div class="colors--preview-background">
                    <label>* Preview Background Color <InputColor @bind-Value="@PreviewBackground" BackgroundColor="@PreviewBackground" /></label>
                </div>
                <div class="cards--wrapper">
                    <div class="card-with-image" style="background: @PreviewBackground;">
                        <div class="color-blobs--wrapper">
                            <ColorBlob Primary="@kit.Current.GetColor(ColorTypes.Primary).Value.HexValue" />
                            <ColorBlob2 Secondary="@kit.Current.GetColor(ColorTypes.Secondary).Value.HexValue" 
                                        Tertiary="@kit.Current.GetColor(ColorTypes.Tertiary).Value.HexValue" />
                            <img class="color-blob--noise" src="images/Noise & Texture.png" />
                        </div>
                        <div class="color-content--wrapper">
                            <h6 class="tertiary">Information</h6>
                            <h4>Brand Colors</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                            </p>
                            <button>Primary CTA</button>
                        </div>
                    </div>
                    <div class="card-text" style="background: @PreviewBackground;">
                        <div class="card-text--container">
                            <h6 class="tertiary">Information</h6>
                            <h4>Brand Colors</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                            </p>
                            <div class="buttons">
                                <button>Primary CTA</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </EditForm>
    }
</article>

@code {
    public string PreviewBackground;

    protected override async Task OnInitializedAsync()
    {
        DebounceInputs = true;
        await base.OnInitializedAsync();
    }
}