@page  "/Typography"

<div class="typography">
    <div class="container">
        <div class="progress">
            <img src="/images/step_2.svg" />
        </div>
        <div class="title">
            <h4>Step One</h4>
            <h2>Typography</h2>
            <p>
                When working with typography, using a type scale can help keep a subtle rhythm throughout your designs.
            </p>
        </div>
        <div class="content">
            <h3>Header Settings</h3>
            <EditForm @*Model="@newKit"*@>
                <div class="section">
                    <label>
                        Preview Text
                        <input @bind-value="previewText" @bind-value:event="oninput" class="large" />
                    </label>
                    <label>
                        Choose heading font
                        <select class="medium">
                            <option selected>Roboto Mono</option>
                        </select>
                    </label>
                    <label>
                        Base Font Size (px)
                        @*<InputText @bind-Value="newKit.HeaderFontSize" class="small"/>*@
                    </label>
                    <label>
                        Choose a Type Scale
                        <select class="medium">
                            <option selected>1.250 (Major Third)</option>
                        </select>
                    </label>
                    <label>
                        Line Height
                        @*<InputText @bind-Value="newKit.HeaderLineHeight" class="small" />*@
                    </label>
                </div>
                <div class="preview-example">
                    <div>
                        <h1>@previewText</h1>
                        <label>H1 - Font Size: 48px (3em) / Line Height: 120%</label>
                    </div>
                    <div>
                        <h2>@previewText</h2>
                        <label>H2 - Font Size: xxpx (xem)</label>
                    </div>
                    <div>
                        <h3>@previewText</h3>
                        <label>H3 - Font Size: xxpx (xem)</label>
                    </div>
                    <div>
                        <h4>@previewText</h4>
                        <label>H4 - Font Size: xxpx (xem)</label>
                    </div>
                    <div>
                        <h5>@previewText</h5>
                        <label>H5 - Font Size: xxpx (xem)</label>
                    </div>
                    <div>
                        <h6>@previewText</h6>
                        <label>H6 - Font Size: xxpx (xem)</label>
                    </div>
                    <div>
                        <p>@previewText</p>
                        <label>Subtitle - Font Size: xxpx (xem)</label>
                    </div>
                </div>
                <h3>Body Settings</h3>
                <div class="section">
                    <p>
                        Preview Text
                        <textarea @bind-value="previewTextBody" @bind-value:event="oninput" />
                    </p>
                    <label>
                        Choose Body font
                        <select class="medium">
                            <option selected>Roboto Mono</option>
                        </select>
                    </label>
                    <label>
                        Base Font Size (px)
                        @*<InputText @bind-Value="newKit.BodyFontSize" class="small"/>*@
                    </label>
                    <label>
                        Choose a Type Scale
                        <select class="medium">
                            <option selected>1.250 (Major Third)</option>
                        </select>
                    </label>
                    <label>
                        Line Height
                        @*<InputText @bind-Value="newKit.BodyLineHeight" class="small"/>*@
                    </label>
                </div>
                <div class="preview-example preview-example--body">
                    <div>
                        <p class="large">@previewTextBody</p>
                        <label>Body Large - Font Size: xxpx (xem) / Line Height: 160%</label>
                    </div>
                    <div>
                        <p class="medium">@previewTextBody</p>
                        <label>Body - Font Size: xxpx (xem) / Line Height: 160%</label>
                    </div>
                    <div>
                        <p class="small">@previewTextBody</p>
                        <label>Body Small - Font Size: xxpx (xem) / Line Height: 160%</label>
                    </div>
                </div>
                <div class="button--save" @onclick="Submit">Save & Continue</div>
            </EditForm>
            @*<div>@newKit.Url</div>*@
        </div>
    </div>
</div>

@*@inject IRepository<Kit> KitRepo*@
@inject NavigationManager Navigation

@code {
    //private Kit newKit = new Kit();
    private string previewText = "The power of small steps";
    private string previewTextBody = "What you do makes a difference. And you have to decide what kind of difference you want to make.";
    //private string fileUrl = "";

    protected override void OnInitialized()
    {
        //newKit.HeaderFontSize = "16";
        //newKit.HeaderLineHeight = "120%";
        //newKit.BodyFontSize = "16";
        //newKit.BodyLineHeight = "120%";
    }

    private async Task Submit()
    {
        //newKit.GUID = Guid.NewGuid();
        //newKit.DateCreated = DateTime.Now;
        //KitRepo.Add(newKit);
        //KitRepo.Commit();
        //Navigation.NavigateTo("/Colors/" + newKit.GUID);
    }
}
