@inherits HighlightPageBase
@page "/{kitId}/colors"

<div class="colors page">
    <div class="page__container">
        <header>
            <div class="title">Base Styles</div>
            <h2>Colors</h2>
            <p>
                When working with typography, using a type scale can help keep a subtle rhythm throughout your designs.
            </p>
        </header>
        <div class="content">
            <!-- Contrast Checker Component Here -->
            <h3>Brand Colors</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>

            @if (Model != null)
            {
                <EditForm Model="@Model">
                    <div class="section">
                        <label>
                            Primary
                            <span>
                                <input type="color" @bind=Model.Primary @bind:event="oninput">
                                @Model.Primary
                            </span>
                        </label>

                        <label>
                            Secondary
                            <span>
                                <input type="color" @bind=Model.Secondary @bind:event="oninput">
                                @Model.Secondary
                            </span>
                        </label>
                        <label>
                            Tertiary
                            <span>
                                <input type="color" @bind=Model.Tertiary @bind:event="oninput">
                                @Model.Tertiary
                            </span>
                        </label>

                    </div>
                    <div class="preview-example preview-example--colors">
                        <div>
                            <label>Primary</label>
                            <div class="color-display" style="background-color: @Model.Primary"></div>
                            <div class="subcolor-display">
                                @foreach (var weight in Weights)
                                {
                                    <span style="background-color: var(--primary-@weight)"></span>
                                }
                            </div>
                        </div>
                        <div>
                            <label>Secondary</label>
                            <div class="color-display" style="background-color: @Model.Secondary"></div>
                            <div class="subcolor-display">
                                @foreach (var weight in Weights)
                                {
                                    <span style="background-color: var(--secondary-@weight)"></span>
                                }
                            </div>
                        </div>
                        <div>
                            <label>Tertiary</label>
                            <div class="color-display" style="background-color: @Model.Tertiary"></div>
                            <div class="subcolor-display">
                                @foreach (var weight in Weights)
                                {
                                    <span style="background-color: var(--tertiary-@weight)"></span>
                                }
                            </div>
                        </div>
                    </div>
                    <pre>
                    <code>
&lt;!-- use directly as colors or background properties --&gt;
&lt;div class="color-primary"&gt;The power of small steps&lt;/div&gt;
&lt;div class="bg-primary"&gt;The power of small steps&lt;/div&gt;
                            </code>
                    <code class="language-scss" style="margin-top: -50px;">
//however it is best to use them as variables within your classes

.box {
    background-color: $primary-500;
}

.box-alt {
    background-color: $secondary-100;
}
                            </code>
                        </pre>
                    <h3>Greyscale</h3>
                    <p class="subheader">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
                    </p>
                    <div class="section">
                        <label>
                            Darkest
                            <span>
                                <input type="color" @bind=Model.Darkest @bind:event="oninput">
                                @Model.Darkest
                            </span>
                        </label>
                        <label>
                            Lightest
                            <span>
                                <input type="color" @bind=Model.Lightest @bind:event="oninput">
                                @Model.Lightest
                            </span>
                        </label>
                    </div>
                    <div class="preview-example preview-example--grayscale">
                        @foreach (var weight in Weights)
                        {
                            <div>
                                <label>@weight</label>
                                <div class="color-display" style="background-color: var(--greyscale-@weight)"></div>
                            </div>
                        }
                    </div>
                    <pre>
                    <code class="language-scss">
//System Variables
$greyscale-900
$greyscale-800
$greyscale-700
                        </code>
                    </pre>
                    <h3>System Colors</h3>
                    <p class="subheader">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
                    </p>
                    <div class="section">
                        <label>
                            Error
                            <span>
                                <input type="color" @bind=Model.Error @bind:event="oninput">
                                @Model.Error
                            </span>
                        </label>
                        <label>
                            Warning
                            <span>
                                <input type="color" @bind=Model.Warning @bind:event="oninput">
                                @Model.Warning
                            </span>
                        </label>
                        <label>
                            Success
                            <span>
                                <input type="color" @bind=Model.Success @bind:event="oninput">
                                @Model.Success
                            </span>
                        </label>
                    </div>
                    <div class="preview-example preview-example--colors">
                        <div class="bg-error"></div>
                        <div class="bg-warning"></div>
                        <div class="bg-success"></div>
                        <div>
                            <label>Error</label>
                            <div class="color-display" style="background-color: var(--error-500)"></div>
                        </div>
                        <div>
                            <label>Warning</label>
                            <div class="color-display" style="background-color: var(--warning-500)"></div>
                        </div>
                        <div>
                            <label>Success</label>
                            <div class="color-display" style="background-color: var(--success-500)"></div>
                        </div>
                    </div>
                    <pre>
                    <code class="language-scss">
//System Variables
$error-900
$error-500
$error-100
$warning-900
$warning-500
$warning-100
$success-900
$success-500
$success-100
                        </code>
                        </pre>
                    <div class="preview-mockup">
                        <h3>Preview</h3>
                        <p class="subheader">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
                        </p>
                        <section>
                            <div class="preview-mockup--left">
                                <img src="/images/example1.png" alt="Example mockup" />
                                <div>
                                    <h4 class="color-dark">Brand Colors</h4>
                                    <h5 class="color-tertiary">Information</h5>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    </p>
                                    <button>Primary CTA</button>
                                </div>
                            </div>
                            <div class="preview-mockup--right">
                                <h4 class="color-dark">Brand Colors</h4>
                                <h5 class="color-tertiary">Information</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                </p>
                                <div class="buttons">
                                    <button>Primary CTA</button>
                                    <button class="secondary">Secondary CTA</button>
                                </div>
                            </div>
                        </section>
                    </div>
                    
                    <SaveAndContinue OnSubmit=Submit NextPage="icons" />
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public string kitId { get; set; }
    ColorsModel Model;
    List<string> Weights = new List<string> { "900", "800", "700", "600", "500", "400", "300", "200", "100", "50" };

    protected override async Task OnInitializedAsync()
    {
        Model = await PublicApi().GetColorsAsync(kitId);
    }

    private async Task Submit()
    {
        await PublicApi().UpdateColorsAsync(Model);
    }
}
