@page "/global-settings"
@page "/global-settings/{kitId}"

<div class="page global-page">
    <div class="page__container">
        <header>
            <div class="title">Base Styles</div>
            <h2>Global Settings</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>
        </header>
        <div class="content">
            <h3>Global Resets</h3>
            <p class="subheader">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>
            @if (kit != null)
            {
                <EditForm Model="@kit">
                    <div>
                        <div class="section-container">
                            <label class="switch">
                                <input type="checkbox" @onchange="SetDefault">
                                <span class="slider"></span>
                            </label>
                            Reset Everything to Default
                        </div>
                        <div class="section-container @disabled">
                            <label class="switch">
                                <input type="checkbox" @bind="settings.ResetHeadings">
                                <span class="slider"></span>
                            </label>
                            Headings
                        </div>
                        <div class="section-container @disabled">
                            <label class="switch">
                                <input type="checkbox" @bind="settings.ResetParagraphs">
                                <span class="slider"></span>
                            </label>
                            Paragraphs
                        </div>
                        <div class="section-container @disabled">
                            <label class="switch">
                                <input type="checkbox" @bind="settings.ResetLists">
                                <span class="slider"></span>
                            </label>
                            Lists
                        </div>
                        <div class="section-container @disabled">
                            <label class="switch">
                                <input type="checkbox" @bind="settings.ResetCheckboxes">
                                <span class="slider"></span>
                            </label>
                            Checkboxes, Radios & Toggles
                        </div>
                        <div class="section-container @disabled">
                            <label class="switch">
                                <input type="checkbox" @bind="settings.ResetAnchors">
                                <span class="slider"></span>
                            </label>
                            Anchors
                        </div>
                    </div>
                    <h3>Kodekit Styling</h3>
                    <p class="subheader">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
                    </p>
                    <div>
                        <div class="section-container">
                            <label class="switch">
                                <input type="checkbox" @onchange="SetKodekit">
                                <span class="slider"></span>
                            </label>
                            All Kodekit Elements
                        </div>
                        <div class="section-container">
                            <label class="switch">
                                <input type="checkbox" @bind="settings.KodekitTypography">
                                <span class="slider"></span>
                            </label>
                            Typography
                        </div>
                        <div class="section-container">
                            <label class="switch">
                                <input type="checkbox" @bind="settings.KodekitColors">
                                <span class="slider"></span>
                            </label>
                            Colors
                        </div>
                        <div class="section-container">
                            <label class="switch">
                                <input type="checkbox" @bind="settings.KodekitIcons">
                                <span class="slider"></span>
                            </label>
                            Icons
                        </div>
                        <div class="section-container">
                            <label class="switch">
                                <input type="checkbox" @bind="settings.KodekitLayout">
                                <span class="slider"></span>
                            </label>
                            Layout
                        </div>
                        <div class="section-container">
                            <label class="switch">
                                <input type="checkbox" @bind="settings.KodekitButtons">
                                <span class="slider"></span>
                            </label>
                            Buttons
                        </div>
                        <div class="section-container">
                            <label class="switch">
                                <input type="checkbox" @bind="settings.KodekitInputs">
                                <span class="slider"></span>
                            </label>
                            Inputs & Text Areas
                        </div>
                        <div class="section-container">
                            <label class="switch">
                                <input type="checkbox" @bind="settings.KodekitCheckboxes">
                                <span class="slider"></span>
                            </label>
                            Checkboxes & Radios
                        </div>
                        <div class="section-container">
                            <label class="switch">
                                <input type="checkbox" @bind="settings.KodekitDropdowns">
                                <span class="slider"></span>
                            </label>
                            Dropdowns
                        </div>
                        <div class="section-container">
                            <label class="switch">
                                <input type="checkbox" @bind="settings.KodekitAnchors">
                                <span class="slider"></span>
                            </label>
                            Anchors
                        </div>
                        <div class="section-container">
                            <label class="switch">
                                <input type="checkbox" @bind="settings.KodekitImages">
                                <span class="slider"></span>
                            </label>
                            Images
                        </div>
                    </div>
                    <button @onclick="Submit">
                        Save & Continue
                        <img src="/images/eyecon.svg" alt="Kodekit Eye Logo" />
                    </button>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    private Kit kit = new Kit();
    private KitSettings settings = new KitSettings();
    [Parameter] public string kitId { get; set; }
    public bool globalReset = false;
    public bool kodekitStyleReset = false;
    public string disabled = "";

    private void SetDefault()
    {
        @if (globalReset == false)
        {
            disabled = "disabled";
            globalReset = true;
            settings.ResetHeadings = true;
            settings.ResetParagraphs = true;
            settings.ResetLists = true;
            settings.ResetCheckboxes = true;
            settings.ResetAnchors = true;
        }
        else
        {
            disabled = "";
            globalReset = false;
            settings.ResetHeadings = false;
            settings.ResetParagraphs = false;
            settings.ResetLists = false;
            settings.ResetCheckboxes = false;
            settings.ResetAnchors = false;
        }
    }

    private void SetKodekit()
    {
        @if (kodekitStyleReset == false)
        {
            kodekitStyleReset = true;
            settings.KodekitTypography = true;
            settings.KodekitColors = true;
            settings.KodekitIcons = true;
            settings.KodekitLayout = true;
            settings.KodekitButtons = true;
            settings.KodekitInputs = true;
            settings.KodekitCheckboxes = true;
            settings.KodekitDropdowns = true;
            settings.KodekitAnchors = true;
            settings.KodekitImages = true;
        }
        else
        {
            settings.KodekitTypography = false;
            settings.KodekitColors = false;
            settings.KodekitIcons = false;
            settings.KodekitLayout = false;
            settings.KodekitButtons = false;
            settings.KodekitInputs = false;
            settings.KodekitCheckboxes = false;
            settings.KodekitDropdowns = false;
            settings.KodekitAnchors = false;
            settings.KodekitImages = false;
        }

        //disabled = "disabled";
    }

    private async Task Submit()
    {
        Nav.NavigateTo("/typography/" + kit.KitId);
    }

    public class KitSettings
    {
        public string KitId { get; set; }
        public bool? ResetEverything { get; set; }
        public bool? ResetHeadings { get; set; }
        public bool? ResetParagraphs { get; set; }
        public bool? ResetLists { get; set; }
        public bool? ResetCheckboxes { get; set; }
        public bool? ResetAnchors { get; set; }
        public bool? AllKodekitElements { get; set; }
        public bool? KodekitTypography { get; set; }
        public bool? KodekitColors { get; set; }
        public bool? KodekitIcons { get; set; }
        public bool? KodekitLayout { get; set; }
        public bool? KodekitButtons { get; set; }
        public bool? KodekitInputs { get; set; }
        public bool? KodekitCheckboxes { get; set; }
        public bool? KodekitDropdowns { get; set; }
        public bool? KodekitAnchors { get; set; }
        public bool? KodekitImages { get; set; }
    }
}
